.pagination {
  font-family: "outfit regular";
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.wrapper {
  justify-content: center;
  display: flex;
  gap: 0.75rem;
}

.wrapper > div {
  display: flex;
  gap: 0.75rem;
}

.wrapper .pagebtn {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-charcoal);
  line-height: 1;
}

.next {
  border: 1px solid var(--color-charcoal);
  width: 50px;
  height: 24px;
}

.pagebtn.active {
  color: var(--color-white-smoke);
  background-color: var(--color-charcoal);
}
