.hero {
  position: relative;
  padding-top: 240px;
  transition: all 1.5s cubic-bezier(0.8, 0, 0.2, 1);
}

.hero.scrolled {
  padding-top: 0;
}

.headline {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 2rem 3.25rem;
}

.headline.hidden {
  opacity: 0;
  transform: translateY(300px);
  transition: all 1.5s cubic-bezier(0.8, 0, 0.2, 1);
  pointer-events: none;
}

.headline h1 {
  font-family: "outfit regular";
  font-weight: 400;
  font-size: 8rem;
  color: var(--color-charcoal);
}
