.filter {
  font-family: "outfit regular";
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--color-charcoal);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.filter select {
  color: var(--color-light-red);
  min-width: 12ch;
  max-width: 30ch;
  border: 1px solid #777;
  border-radius: 0.20em;
  padding: 0.1em 0.25em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

