@import "reset.css";
@import "typography.css";

:root {
  font-family: "outfit regular", "system-ui", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  --color-white-smoke: rgb(245, 245, 245);
  --color-eerie-black: rgb(31, 31, 31);
  --color-charcoal: rgb(47, 62, 70);
  --color-charcoal-grey: rgba(47, 62, 70, 0.8);
  --color-light-red: rgb(255, 107, 107);
  --color-mint-cream: rgb(232, 243, 235);
  --color-columbia-blue: rgba(188, 217, 238, 0.7);
  --color-oxford-blue: rgb(10, 34, 57);
  --color-white: rgb(255, 255, 255);
}

#root {
  max-width: 1920px;
  margin: 0 auto;
}

/* Screen readers */
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
