.single-section {
  padding: 3rem 1rem;
}

.product {
  display: flex;
  justify-content: space-around;
  padding: 4rem 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 0.5rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 60ch;
}

.right h1 {
  font-family: "outfit regular";
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--color-light-red);
  text-transform: uppercase;
}

.right p {
  font-family: "outfit extralight";
  font-size: 1.25rem;
}

.price {
  font-family: "outfit regular";
  font-size: 1.25rem;
}

.placeholder {
  width: 575px;
  height: 360px;
  background-color: #d9d9d9;
}

.actions {
  font-family: "outfit extralight";
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.actions > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn {
  width: fit-content;
  font-family: "outfit regular";
  font-size: 1.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  color: var(--color-white-smoke);
  background-color: var(--color-eerie-black);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: rgba(50, 50, 50, 1);
  box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.1);
}
