.item {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr repeat(4, 1fr);
  padding-bottom: 1rem;
  border-bottom: 1px solid #d9d9d9;
}

.item-info {
  display: flex;
  align-items: center;
  justify-self: baseline;
  gap: 1.5rem;
}

.item :not(:first-child):not(:last-child) {
  margin: 0 auto;
  max-width: fit-content;
}

.item :last-child {
  justify-self: flex-end;
  margin-right: 1.25rem;
}

.placeholder {
  width: 140px;
  height: 90px;
  background-color: #d9d9d9;
}
