.headline {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 2rem 3.25rem;
}

.headline > h1 {
  font-family: "outfit regular";
  font-weight: 400;
  font-size: 8rem;
  color: var(--color-charcoal);
}
