.socials {
  font-family: "outfit light";
  font-size: 1rem;
  color: var(--color-charcoal);
  width: 100%;
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--color-columbia-blue);
  justify-content: space-between;
  align-items: center;
}

.socials a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.socials a:hover {
  color: var(--color-light-red);
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
